// hra-viewer.component.scss
.hra-dialog {
  width: 80vw;
  max-width: 1000px;
  border: none;
  border-radius: 8px;
  padding: 1.5rem;

  &::backdrop {
    background: rgb(0 0 0 / 0.5);
  }
}

.icon-button {
  background: none;
  border: 1px solid #ccc; /* Subtle border */
  border-radius: 8px;     /* Rounded corners */
  padding: 5px;           /* Breathing room around the icon */
  cursor: pointer;
  transition: transform 0.1s, background-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button:hover {
  background-color: #f0f0f0;
}

.icon-button:active {
  transform: scale(0.95);
}

.button-icon {
  width: 400px;  /* Set your desired size */
  height: 400px; /* Set your desired size */
  object-fit: contain; /* Ensures the image doesn't stretch */
}